#about{
    margin-top: 4rem;
    margin-left: 0.9rem;
    background-color: rgb(0,50,150, 0.5);
    width: 98%;
    display: flex;
    border-radius: 1rem;
    overflow: hidden;
}

#aboutimgdiv{
    display: flex;
    justify-content: stretch;
    width: 28rem;
}

#aboutimg{
    height: 100%;
    width: 18rem;
}

#abouttext{
    color: orange;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
}